body {
  margin: 0;
  padding: 0;
  background: rgba(92, 214, 255, 1);
  background: -moz-linear-gradient(
    left,
    rgba(92, 214, 255, 1) 0%,
    rgba(20, 166, 255, 1) 57%,
    rgba(15, 163, 255, 1) 61%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(92, 214, 255, 1)),
    color-stop(57%, rgba(20, 166, 255, 1)),
    color-stop(61%, rgba(15, 163, 255, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(92, 214, 255, 1) 0%,
    rgba(20, 166, 255, 1) 57%,
    rgba(15, 163, 255, 1) 61%
  );
  background: -o-linear-gradient(
    left,
    rgba(92, 214, 255, 1) 0%,
    rgba(20, 166, 255, 1) 57%,
    rgba(15, 163, 255, 1) 61%
  );
  background: -ms-linear-gradient(
    left,
    rgba(92, 214, 255, 1) 0%,
    rgba(20, 166, 255, 1) 57%,
    rgba(15, 163, 255, 1) 61%
  );
  background: linear-gradient(
    to right,
    rgba(92, 214, 255, 1) 0%,
    rgba(20, 166, 255, 1) 57%,
    rgba(15, 163, 255, 1) 61%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cd6ff', endColorstr='#0fa3ff', GradientType=1 );
}

.container {
  margin: 30px 60px;
  /* border: solid;
  border-width: 0.2px; */
}

#logo_and_text {
  margin: 10px 0;
}

#logo_and_text img {
  width: 25%;
}

#logo_and_text h1 {
  font-family: "Montserrat", sans-serif;
}

#googledevs {
  font-size: 0.6em;
  padding-top: 5px;
}

#googledevs a {
  text-decoration: underline;
  color: black;
}

.content {
  margin: 10px 30px;
  padding: 20px 30px;
  border: solid 1px;
  border-radius: 3px;
  box-shadow: 5px 5px 20px black;
  width: 70%;
  text-align: left !important;
  transition: all 0.5s;
  cursor: pointer;
  float: left;
}

.content h2 {
  margin-bottom: 5px;
}

.content:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.content p {
  font-size: 1.15em;
}

.right {
  float: right;
}

hr {
  margin-bottom: 5px;
  height: 1px;
  color: #323639;
  background-color: #323639;
  border: none;
}

footer {
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

footer p {
}
