/* Mobile Design */

@media screen and (max-width: 480px) {
  .container {
    margin: 30px 20px;
  }

  #logo_and_text {
    margin: 10px 0;
  }

  #logo_and_text img {
    width: 70%;
    margin: 10 0;
  }

  .content{
      width: 80%;
      float: right;
  }
}
